.world {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 1000px;
    width: 1000px;
    background-color: #0055d4;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.tile {
    height: 100px;
    width: 100px;
}

.grass {
    height: 100px;
    width: 100px;
    background-color: #6ae226;
    background-image: url('../terrain/grass.svg');
}

.forest {
    height: 100px;
    width: 100px;
    background-color: #6ae226;
    background-image: url('../terrain/forest.svg');
}

.town {
    background-size: 96px;
    background-color: #6ae226;
    background-image: url('../terrain/town.svg');
    background-repeat: no-repeat;
    position: relative;
}

.town-name {
    position: absolute;
    color: white;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.mountain {
    height: 100px;
    width: 100px;
    background-color: #6ae226;
    background-image: url('../terrain/mountain.svg');
}

.dirt {
    height: 100px;
    width: 100px;
    background-image: url('../terrain/dirt.svg');
}

.rock {
    height: 100px;
    width: 100px;
    background-image: url('../terrain/rock.svg');
}

.lava {
    height: 100px;
    width: 100px;
    background-image: url('../terrain/lava.gif');
}

.entrance {
    height: 100px;
    width: 100px;
    background-color: #000000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.water {
    height: 100px;
    width: 100px;
    background-image: url('../terrain/water-small.gif');
}

.water-above {
    border-top: 2px solid #F4D166;
    height: 98px;
}

.water-left {
    border-left: 2px solid #F4D166;
    width: 98px;
}

.water-right {
    border-right: 2px solid #F4D166;
    width: 98px;
}

.water-below {
    border-bottom: 2px solid #F4D166;
    height: 98px;
}

.water-above.water-below {
    height: 96px;
}

.water-left.water-right {
    width: 96px;
}

.water-above.water-left {
    border-top-left-radius: 7px;
}

.water-above.water-right {
    border-top-right-radius: 7px;
}

.water-below.water-left {
    border-bottom-left-radius: 7px;
}

.water-below.water-right {
    border-bottom-right-radius: 7px;
}
