.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    padding: 4px;
}

.link-button.light {
    color: blue;
}

.link-button.dark {
    color: white;
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
}
