.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    padding: 0;
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
}
