.enemies {
    display: flex;
    justify-content: space-evenly;
    min-height: 568px;
    height: 568px;
    max-height: 568px;
    background-size: cover;
    background-color: white;
    margin: 1px;
}

.enemy {
    margin: 50px 0 5px 0;
    width: 200px;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}

.mouse {
    background-image: url('./enemy/mouse.svg');
}

.rat {
    background-image: url('./enemy/rat.svg');
}

.boar {
    background-image: url('./enemy/boar.svg');
}

.goblin {
    background-image: url('./enemy/goblin.svg');
}

.skeleton {
    background-image: url('./enemy/skeleton.svg');
}

.knight {
    background-image: url('./enemy/knight.svg');
}

.selected {
    border-radius: 5px;
    border: 3px solid #3734ff;
}

.battle .log {
    margin: 1px;
}

.players {
    margin: 0 1px 1px 1px;
    display: flex;
    flex: 1 1 auto;
    max-height: 150px;
}

.battle.dire {
    border: 2px solid #e31e2d;
}

.battle.death {
    border: 2px solid black;
}
