.themed-panel.log {
    overflow: scroll;
    overflow-x: hidden;
    justify-content: unset;
    font-size: 15px;
    flex: 1 1 auto;
}

.battle.dire .log {
    border: 2px solid #e31e2d;
}

.battle.death .log {
    border: 2px solid black;
}