.player {
    position: relative;
}

.player > .fa-dragon {
    position: absolute;
    top: 0;
    left: 5px;
}

.player > .fa-campground, .fa-info-circle, .info-prompt {
    position: absolute;
    top: 0;
    left: 5px;
}

@keyframes fade-out-opaque {
    0% {
        opacity: 50%;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.player > .info-prompt {
    margin-left: 20px;
    animation: fade-out-opaque 3s ease-in 0.2s forwards;
}

.hero {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.hero.up {
    height: 100px;
    width: 100px;
    background-image: url('./hero/hero-up.gif');
}

.hero.right {
    height: 100px;
    width: 100px;
    background-image: url('./hero/hero-right.gif');
}

.hero.down {
    height: 100px;
    width: 100px;
    background-image: url('./hero/hero-down.gif');
}

.hero.left {
    height: 100px;
    width: 100px;
    background-image: url('./hero/hero-left.gif');
}

@keyframes peer-up {
    0% {
        background-image: url('./peer/peer-up1.svg');
    }
    49% {
        background-image: url('./peer/peer-up1.svg');
    }
    50% {
        background-image: url('./peer/peer-up2.svg');
    }
    100% {
        background-image: url('./peer/peer-up2.svg');
    }
}

@keyframes peer-right {
    0% {
        background-image: url('./peer/peer-right1.svg');
    }
    24% {
        background-image: url('./peer/peer-right1.svg');
    }
    25% {
        background-image: url('./peer/peer-right.svg');
    }
    49% {
        background-image: url('./peer/peer-right.svg');
    }
    50% {
        background-image: url('./peer/peer-right2.svg');
    }
    74% {
        background-image: url('./peer/peer-right2.svg');
    }
    75% {
        background-image: url('./peer/peer-right.svg');
    }
    100% {
        background-image: url('./peer/peer-right.svg');
    }
}

@keyframes peer-down {
    0% {
        background-image: url('./peer/peer-down1.svg');
    }
    49% {
        background-image: url('./peer/peer-down1.svg');
    }
    50% {
        background-image: url('./peer/peer-down2.svg');
    }
    100% {
        background-image: url('./peer/peer-down2.svg');
    }
}

@keyframes peer-left {
    0% {
        background-image: url('./peer/peer-left1.svg');
    }
    24% {
        background-image: url('./peer/peer-left1.svg');
    }
    25% {
        background-image: url('./peer/peer-left.svg');
    }
    49% {
        background-image: url('./peer/peer-left.svg');
    }
    50% {
        background-image: url('./peer/peer-left2.svg');
    }
    74% {
        background-image: url('./peer/peer-left2.svg');
    }
    75% {
        background-image: url('./peer/peer-left.svg');
    }
    100% {
        background-image: url('./peer/peer-left.svg');
    }
}

.peer {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.peer.up {
    animation: peer-up 1.25s infinite;
}

.peer.right {
    animation: peer-right 1.5s infinite;
}

.peer.down {
    animation: peer-down 1.25s infinite;
}

.peer.left {
    animation: peer-left 1.5s infinite;
}

.player-name-back {
    margin-left: 5px;
    margin-top: 25px;
    font-size: 12px;
    color: gold;
}

.player-name-front {
    margin-left: 10px;
    margin-top: 25px;
    font-size: 7px;
    color: gold;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.fade {
    position: absolute;
    bottom: 10px;
    max-width: 100px;
    color: white;
    font-size: 13px;
    animation: fade-out 3s ease-in 0.2s forwards;
    text-align: center;
}
