.field-menu-modal {
    max-width: 339px;
    background-color: #fafafa;
    border: 2px solid white;
    border-radius: 5px;
}

.field-menu-modal > .field-menu {
    display: flex;
    justify-content: space-between;
}

.field-menu-modal > .field-menu > .option-panel {
    margin-left: 14px;
}
