.player-stats-panel {
    padding: 0 25px 25px 25px;
    background-color: #fafafa;
    border: 2px solid white;
    border-radius: 5px;
    height: 315px;
    width: 175px;
    display: flex;
    flex-direction: column;
}

.player-stats-panel > .header {
    color: #120c74;
    margin-bottom: 12px;
}

.player-stats-panel > .player-stat {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
