.player-spells {
    background-color: #fafafa;
    border: 2px solid white;
    border-radius: 5px;
    width: 175px;
    padding: 0 25px 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-spells > .header {
    color: #120c74;
    width: 100%;
}

.player-spells > .option-panel {
    margin: 15px 0 15px 0;
}

.player-spells > .spell-cost {
    margin-bottom: 15px;
}

.player-spells > .spell-status {
    margin-bottom: 15px;
}