.patrogonia {
    display: flex;
    flex: 1 1 auto;
}

.world, .battle, .landing {
    height: 1000px;
    width: 1000px;
    max-width: 1000px;
    max-height: 1000px;
}

.how-to-play {
    max-width: 1000px;
}